@model BaiTH5.Models.Giaovien

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Giaovien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tengv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tengv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.chyennganh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chyennganh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diachi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diachi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sdt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sdt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Magv }) |
    @Html.ActionLink("Back to List", "Index")
</p>
